<section
  class="relative overflow-hidden py-10 bg-[#FFF9F7] border-y border-pink-100 mb-20"
>
  <div class="flex whitespace-nowrap animate-marquee">
    <div class="flex items-center">
      <span class="mx-8 text-5xl md:text-6xl font-playfair text-[#E8A0BF]">
        ✦ BB CARE ✦ BEAUTY ✦ LUXURY ✦ ELEGANCE ✦ BRIDAL ✦ GLAMOUR ✦
      </span>
    </div>

    <div class="flex items-center">
      <span class="mx-8 text-5xl md:text-6xl font-playfair text-[#E8A0BF]">
        ✦ BB CARE ✦ BEAUTY ✦ LUXURY ✦ ELEGANCE ✦ BRIDAL ✦ GLAMOUR ✦
      </span>
    </div>
  </div>
</section>

<style>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    width: max-content;
    animation: marquee 20s linear infinite;
  }
</style>
<footer class="py-12 bg-[#FFF9F7]">
  <div class="text-center">
    <p class="mt-4 text-sm text-[#888]">© 2026 BB CARE. All Rights Reserved.</p>
  </div>
</footer>
