<section id="home" class="py-28 bg-[#FFF9F7]">
  <div class="max-w-7xl mx-auto px-6">
    <!-- Hero Section -->
    <section class="min-h-screen flex items-center pt-32">
      <div
        class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-16 items-center"
      >
        <!-- Left -->
        <div>
          <p class="uppercase tracking-[5px] text-[#D4A373] text-sm mb-5">
            Makeup Artist
          </p>

          <h1
            class="text-5xl md:text-7xl leading-tight font-semibold font-playfair text-[#3B2D35]"
          >
            MANISHA <br />
            PARMAR
          </h1>

          <p class="mt-8 text-lg leading-relaxed text-[#6d5c65] max-w-xl">
            Manisha Parmar’s journey began in a small home setup with big
            dreams. What started as a simple hobby turned into her true calling.
            With passion and perseverance, she created BB Care — a luxury beauty
            studio where confidence and elegance come alive.
          </p>
        </div>

        <!-- Right -->
        <div class="relative flex justify-center">
          <!-- Glow -->
          <div
            class="absolute w-[400px] h-[400px] bg-pink-200 rounded-full blur-3xl opacity-40"
          ></div>

          <!-- Image -->
          <img
            src="static/images/mani.png"
            alt="Makeup Artist"
            class="relative w-[380px] md:w-[420px] h-[500px] md:h-[550px] object-cover rounded-[40px] shadow-[0_20px_60px_rgba(232,160,191,0.25)]"
          />
        </div>
      </div>
    </section>
  </div>
</section>
